<div class="container">
    <div class="panel notes-panel">
        <div class="panel-body">
            <button type="button"
                    class="btn btn-primary btn-round btn-lg"
                    (click)="addNewNote()"
                    style="float: right;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>

            <sn-create-note></sn-create-note>

            <div *ngIf="notes != null && notes.length > 0" class="row-fluid">
                <div class="span12">
                    <div class="note" *ngFor="let note of notes">
                        <form>
                            <fieldset>
                                <textarea class="note-textarea" id="noteTextarea">{{ note.text }}</textarea>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>